<html lang="en">
{% load static %}
{% load add_bootstrap_class %}
<head>
    <meta charset="utf-8">
    <title>Community HTML Demo - Sign In</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .background-image {
            background-image: url("{% static 'svgexport-1.svg' %}");
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: -1;
        }
    </style>
</head>

<body class="cryww cs22w cyksu cfglz chz9p">
{% include 'components/message.html' %}

<div class="background-image"></div>

<!-- Page wrapper -->
<div class="ciknu c4xpn crvnt clzjs c84kl">

    <!-- Site header -->
    <header class="c9epx c894v cdcpd">
        <div class="c0xm3 cwd8x cbv9p cffqt">
            <div class="cphtx cyv0x cr9oa c84kl cosre">

                <!-- Site branding -->
                <div class="czcmj c08ca">
                    <!-- Logo -->
                    <a class="group cpe5q" href="{% url 'index' %}" aria-label="Cruip">
                        <img src="{% static 'logo.svg' %}" width="32" height="32" alt="Community">
                    </a>
                </div>

                <nav class="c84kl cxgft">
                    <div class="cyv0x c2ll7 cb2wz c84kl cxgft">
                        <div class="cc30m ctkuh">
                            Not a member? <a class="cjbvg cwvxj cix92 ci5c0 cas64 cv0f2"
                                             href="{% url 'signup' %}">Join</a>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </header>

    <main class="cxgft">

        <section class="ccmpi">

            <!-- Illustration -->
            <div class="c1or4 cbm4u cv89m c9epx cfj2j" aria-hidden="true">
                <img src="{% static 'svgexport-1.svg' %}" class="cj6mp" width="1905" height="622"
                     alt="Hero Illustration">
            </div>

            <div class="c0xm3 ccmpi cwd8x cbv9p cffqt">
                <div class="crett ckxfr cqmr5 cd3md">

                    <!-- Page header -->
                    <div class="ca2yl cfeqe cbv9p">
                        <h1 class="cv8nv crm28 cdp3t cm97t c7ur1 cv5ei cjniy cqmr5 chc94">Welcome back to the
                            Community</h1>
                    </div>

                    <!-- Form -->
                    <div class="cg2hf cbv9p">
                        <form method="post">
                            {% csrf_token %}
                            <div class="ckw57">
                                <div>
                                    <label class="cxjuz" for="Email">Email</label>
                                    {{ form.email |add_class:"c9yrh ctkuh c894v text-light" }}
                                </div>
                            </div>

                            <div class="ckw57">
                                <div>
                                    <label class="cxjuz" for="{{ form.username.id_for_label }}">Email</label>

                                </div>

                            </div>
                            <div class="cphsf">
                                <button type="submit" class="c4pyj cmoq7 cwams cs3c2 c894v">Forgot Password</button>
                            </div>
                        </form>
                        <!-- Divider -->
                        <div class="cyv0x ca4hs c84kl">
                            <div class="cvkh0 cc2e0 cnjis cxgft" aria-hidden="true"></div>
                            <div class="cpb42 crs6u c8dwh">Or</div>
                            <div class="cvkh0 cc2e0 ccwt3 cxgft" aria-hidden="true"></div>
                        </div>

                        <!-- Social login -->
                        <button class="c15ll cb3vt cv8nv cjl5d c2h7h czhaz cwvxj c9j93 ccmpi cs3c2 c894v cbsef c84kl cmu8g"
                                onclick="window.location.href='{% url 'login' %}'">
                            <div class="cyv0x c609k c84kl">

                            </div>
                            <span class="c0hys cww3t">Login</span>
                        </button>

                    </div>
                </div>

        </section>

    </main>

</div>

</body>
</html>